#root {
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  display: block !important;
}

.App {
  width: 100%;
  margin: 0;
}

.Toastify__toast--error {
  background-color: #e74c3c !important;
  color: white !important;
}

.Toastify__toast-container {
    z-index: 20001 !important;
}